.header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(15, 67, 135, 1) 40%,
    rgba(95, 192, 255, 1) 80%
  );
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  &__form {
    display: grid;
    justify-content: end;
    align-items: center;
    padding: 25px 25px;
    position: relative;
  }
  .search-list {
    position: absolute;
    display: none;
    left: 5px;
    top: 50px;

    width: 305px;
    height: auto;
    padding: 10px 10px;

    background: rgba(95, 192, 255, 1);
    border: 2px solid white;
    border-radius: 10px;
    & .card__title {
      margin-bottom: 10px;
      padding: 5px;

      font-size: 20px;

      border-radius: 5px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    &.show {
      display: block;
    }
  }
  .form {
    position: relative;
    z-index: 10;
    .search {
      width: 310px;
      background-color: transparent;
      border: 2px solid $white;
      border-radius: 50px;
      font-size: 20px;
      padding: 10px 20px;
      color: #fff;
      &:focus {
        outline: none;
        color: black;
        background-color: white;
      }
    }
    .search::placeholder {
      color: rgba(95, 192, 255, 1);
    }
    .clear {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      right: 15px;

      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;

      cursor: pointer;
      &:hover {
        background: rgba(15, 67, 135, 1);
        border-radius: 50%;
      }
      &:active {
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 1.7px;
        height: 15px;
        background: rgba(95, 192, 255, 1);
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(315deg);
      }
    }
  }
}
