.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 50px;
  justify-items: center;
  justify-content: center;
}

.card {
  width: 300px;
  background-color: transparent;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 450px 150px 1fr;
  &__content {
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    transition: color 0.3s ease-in-out;
  }
  &__title {
    font-size: 25px;
    font-family: Merriweather;
  }
  &:hover &__content {
    color: transparent;
  }
  &:hover .score {
    color: transparent;
  }
  &:hover .review {
    transform: translateY(0);
  }
}
.card img {
  display: block;
  max-width: 100%;
  height: 450px;
}

.score {
  background-color: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 5px 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background 0.3s ease-in-out;
  &.red {
    color: red;
  }
  &.yellow {
    color: #ff7300;
  }
  &.green {
    color: rgb(206, 255, 132);
  }
}

.review {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 10px;
  height: 25%;

  background-color: rgba(95, 192, 255, 0.9);
  color: white;
  border-radius: 10px;

  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  &__title {
    font-size: 20px;
    font-family: Merriweather;
    text-align: center;
  }
  &__text {
    font-size: 16px;
    line-height: 1.3;
  }
}
